@page "{id?}"
@model WebApp.Pages.SamplePages.BasicsModel
@{
    ViewData["Title"] = "Review Page Basics";
}
<h1>Basics of Razor Page(Review)</h1>
<h3>Demonstraton of OnGet() request processing</h3>

@if (string.IsNullOrWhiteSpace(Model.MyName))
{
    <p>The random number is odd.</p>
}
else
{
    <p>@Model.MyName</p>
}

<h3>Demonstration of OnPost request processing for a form</h3>

<form method="post">
    <label>
        Enter a number
        <input type="number" asp-for="id" /><br/>


    </label>
    <button type="submit" value="A" id="theButton" name="theButton">A Button</button>
    &nbsp;&nbsp;&nbsp;
     <button type="submit" value="B" id="theButton" name="theButton">B Button</button>
    &nbsp;&nbsp;&nbsp;
</form>
<br/>
<p style="color:forestgreen; font-weight:bold;">@Model.FeedBack</p>
